/*
  =========================================

	  CLASSES

    -> Helper classes. Can be created by extending placeholders

	=========================================
*/

// -------------------------------------
//   Variables
// -------------------------------------

.m-0 { margin: 0 !important; }
.mt-15 { margin-top: 15px !important; }
.mt-25 { margin-top: 25px !important; }