<div class="row plusPadLeft">
	<div class="col-xs-12">
		<h1 class="titulo">Según los datos proporcionados, estas son las opciones que tenemos para vos</h1>
	</div>
	<div class="col-xs-12">
		<h3 class="titulo">Regresando al paso anterior podrás verificar y editar tus datos</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>


<div class="row plusPadLeft">
	<div class="col-xs-12">
		<div class="panel-group" id="accordion" role="tablist"
			aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<span id="buttonOne" role="button" data-toggle="collapse" data-parent="#accordion"
							data-target="#collapseOne" aria-expanded="true"
							aria-controls="collapseOne" class="collapsed" ng-click="accordion(true)"> HIPOTECARIO UVAs <span class="flechita"></span></span>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<div class="row hidden-sm hidden-xs">
							<div class="col-md-3 col-md-offset-6">
								<p class="resultado-header">En Pesos</p>
							</div>
							<div class="col-md-3">
								<p class="resultado-header">En UVA's</p>
							</div>
						</div>
						<div class="row">
							<div class="resultado-container-maximo">
								<div class="row">
									<div class="col-md-6">
										<p class="montoMaximo">Monto Máximo Disponible</p>
									</div>
									<div class="col-md-3 col-xs-6">
										<span class="money fuente-gris">$ {{resultados.tasaUVA.montoMaximo}}</span>
									</div>
									<div class="col-md-3 col-xs-12">
										<p class="fuente-gris">180.000 UVA's</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="resultado-container">
								<div class="row">
									<div class="col-md-6">
										<p class="bold-blue">Monto Solicitado</p>
									</div>
									<div class="col-md-3 col-xs-6">
										<span class="money bold-blue">$</span>
 										<input type="text" x-only-decimal ng-model="resultados.tasaUVA.montoSolicitud" class="form-control-blue resultado money" ng-blur="recalculo(resultados.tasaUVA.montoMaximo, resultados.tasaUVA.montoSolicitud)" ng-class="{errorEnInput: valMontoSolicitadoTV}" >
									</div>
									<div class="col-md-3 col-xs-12">
										<p class="bold-blue">180.000 UVA's</p>
									</div>
								</div>
								</br>
								<div class="row">
									<div class="col-md-6">
										<p class="bold-blue">Plazo</p>
									</div>
									<div class="col-md-6">
										<select name="plazosId" id="plazosId" ng-model="plazoSeleccionado" class="bold-blue">
											<option ng-repeat="option in plazos" ng-selected="plazoMaximo == option.meses" value="{{option.meses}}">{{option.anios}} años - {{option.meses}} meses</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="div-light-blue">
								<div class="row">
									<div class="col-md-6">
										<p class="bold-white">Cuota Mensual</p>
									</div>
									<div class="col-md-3 col-xs-6">
										<span class="bold-white">$ {{resultados.tasaUVA.montoCuota}} <span class="layer-white">(1)</span></span>
									</div>
									<div class="col-md-3 col-xs-6">
										<p class="bold-white">1.500 UVA's</p>
									</div>
								</div>
							</div>
						</div>
					
						<div class="row">
							<div class="descripcion-container">
								<div class="row">
									<div class="col-md-6">
										<p class="font-cobalt-gray">Tasa Nominal Anual (T.N.A) X,XX%.</p>
									</div>
									<div class="col-md-6">
										<p class="descripcion">Cotización UVA´s a la fecha: $15,18.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="div-cuota-mensual-inicial">
						<span class="layer-blue"> (1) </span>
						<span class="bold-blue-cuota-mensual-inicial">Cuota Mensual inicial: </span>
						<span class="light-blue-cuota-mensual-inicial">Este es un valor de referencia teniendo en cuenta la cotización de las UVAs al día de la fecha.</span>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<span id="buttonTwo" class="collapsed" role="button" data-toggle="collapse"
							data-parent="#accordion" data-target="#collapseTwo"
							aria-expanded="false" aria-controls="collapseTwo" class="collapsed" ng-click="accordion(false)">
							HIPOTECARIO TASA FIJA  <span class="flechita"></span></span>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body" ng-show="tasaFijaAprobada">
						<div class="row hidden-sm hidden-xs">
							<div class="col-md-3 col-md-offset-6">
								<p class="resultado-header">En Pesos</p>
							</div>
						</div>
						<div class="row">
							<div class="resultado-container">
								<div class="row">
									<div class="col-md-6">
										<p class="montoMaximo">Monto Máximo Disponible</p>
									</div>
									<div class="col-md-6">
										<span class="money fuente-gris">$ {{resultados.tasaFija.montoMaximo}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="resultado-container">
								<div class="row">
									<div class="col-md-6">
										<p class="bold-blue">Monto Solicitado</p>
									</div>
									<div class="col-md-3">
										<span class="money bold-blue">$</span>
										<input type="text" x-only-decimal ng-model="resultados.tasaFija.montoSolicitud" class="form-control-blue resultado money" ng-blur="recalculo(resultados.tasaFija.montoMaximo, resultados.tasaFija.montoSolicitud)" ng-class="{errorEnInput: valMontoSolicitadoTF}">
									</div>
								</div>
								</br>
								<div class="row">
									<div class="col-md-6">
										<p class="bold-blue">Plazo</p>
									</div>
									<div class="col-md-6">
										<select name="plazosId" id="plazosId" ng-model="plazoSeleccionado" class="bold-blue">
											<option ng-selected="{{option.meses == plazoMaximo}}" ng-repeat="option in plazos" value="{{option.meses}}" >{{option.anios}} años - {{option.meses}} meses</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="div-light-blue">
								<div class="row">
									<div class="col-md-6">
										<p class="bold-white">Cuota Mensual</p>
									</div>
									<div class="col-md-6">
										<span class="bold-white">$ {{resultados.tasaFija.montoCuota}} <span class="layer-white">(1)</span></span>
									</div>
								</div>
							</div>
						</div>
					
						<div class="row">
							<div class="descripcion-container">
								<div class="row">
									<div class="col-xs-12">
										<p class="font-cobalt-gray">Tasa Nominal Anual (T.N.A) X,XX%.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body" ng-show="!tasaFijaAprobada">
						<p class="panel-body">{{mensajeErrorTasaFija}}<p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">&nbsp;</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<span ng-show="(valMontoSolicitadoTV || valMontoSolicitadoTF)" class="error">{{mensajeErrorMontos}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-xs-12 text-center">
		<button class="btn btn-quiero" ng-click="quiero()">Continuar</button>	
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-xs-12 text-center">
		<a href="" ng-click="volver()" class="volver">Volver</a>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<!-- telefono -->
<div class="row plusPadLeft">
	<div class="col-xs-12 ">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		<p class="legales" ng-bind-html="paso.legales != null ? paso.legales : msg().mainLegales"></p>
	</div>
</div>
