<section class="referidos--home">

    <h1 class="page-title">Solicitar tu cuenta sueldo online es muy simple:</h1>
    <ul class="icons-consulta">
        <li>
            <span class="icon-g-ico_people"></span>
            <p>Paso 1</p>
            <p>Datos personales</p>
        </li>
        <li>
            <span class="icon-g-herramienta"></span>
            <p>Paso 2</p>
            <p>Abrimos tu <br> Cuenta Sueldo</p>
        </li>
        <li>
            <span class="icon-g-Paper"></span>
            <p>Paso 3</p>
            <p>Informas tu nueva <br> cuenta a tu Empresa</p>
        </li>
    </ul>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn btn-enviar" ng-click="empezar()">Empezar</button>
        </div>
    </div>

</section>