<section class="referidos--home">

    <h1 class="page-title">Solicitar tu cuenta sueldo online es muy simple:</h1>
    <ul class="icons-consulta">
        <li>
            <span class="icon-g-ico_people"></span>
            <p>Datos <br> personales</p>
        </li>
        <li>
            <span class="icon-g-herramienta"></span>
            <p>Configuración <br> Cuenta Sueldo</p>
        </li>
        <li>
            <span class="icon-g-Paper"></span>
            <p>Registro <br> de firma</p>
        </li>
    </ul>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn btn-enviar" ng-click="empezar()">Empezar</button>
        </div>
    </div>

</section>