<div class="content-thy-page">
	<h1 class="text-center main-title has-subtitle thy-page">¿Cómo seguimos?</h1>
	<section class="section-content-thy">
		<h2>1. Registro de firma</h2>
		<p>Te esperamos en cualquiera de nuestras sucursales para que puedas registrar tu firma y activar tu cuenta. Recordá traer constancia
de trabajo y ——.</p>
	<div class="important-block">
		Es importante que envíes la nota que te proporcionamos firmada a RRHH de tu empresa para empezar a cobrar tu sueldo en BBVA.
	</div>
	</section>
</div>