<div class="row plusPadLeft">
	<h1 class="text-center main-title has-subtitle">Ya casi terminamos</h1>
	<h2 class="text-center sub-title-two">Elegí como preferis registrar tu firma:</h2>
	<div class="col-xs-12">
		<p class="add-padding m-0">Para finalizar, podés acercarte a cualquiera de nuestras sucursales para registrar tu firma y activar tu cuenta o bien
			podés elegir que te visitemos a tu trabajo. Una vez que tengas tu firma registrada, la cuenta sueldo quedará habilitada
			para que puedas usarla con normalidad.</p>

		<form name="dataRegister" class="text-center mt-25">
			<div class="center-wrapper">
				<div radio-button radio-options="radio"></div>
			</div>
			<div class="row margin-input" ng-if="radio.selected == 'theyGo'">
				<div class="form-group">
					<label for="nombre" class="control-label">Calle</label>
					<input type="text" id="street" class="form-control">
				</div>
				<div class="clear-fix">
					<div class="form-group input-inline-4">
						<label for="apellido" class="control-label">Número</label>
						<input type="text" id="apellido" class="form-control">
					</div>
					<div class="form-group input-inline-4">
						<label for="apellido" class="control-label">Piso</label>
						<input type="text" id="apellido" class="form-control">
					</div>
					<div class="form-group input-inline-4">
						<label for="apellido" class="control-label">Depto.</label>
						<input type="text" id="apellido" class="form-control">
					</div>
					<div class="form-group input-inline-4">
						<label for="apellido" class="control-label">Código Postal</label>
						<input type="text" id="apellido" class="form-control">
					</div>
				</div>
				<div class="clear-fix">
					<div class="form-group input-inline-2 select-element">
						<label class="control-label">Provincia</label>
						<input type="text" id="provincia" ng-model="envio.provincia" placeholder="" uib-typeahead="provincia as provincia.nombre for provincia in provincias | filter:$viewValue | limitTo:5"
							class="form-control" typeahead-show-hint="true" typeahead-editable="false" typeahead-min-length="0" typeahead-select-on-blur="true"
							autocomplete="off">
					</div>

					<div class="form-group input-inline-2 select-element">
						<label class="control-label">Localidad</label>
						<input type="text" id="localidad" ng-model="envio.localidad" placeholder="" uib-typeahead="localidad as localidad.nombre for localidad in localidades| filter:$viewValue | limitTo:5"
							class="form-control" typeahead-show-hint="true" typeahead-editable="false" typeahead-min-length="0" typeahead-select-on-blur="true"
							autocomplete="off">
					</div>
				</div>
			</div>
			<div class="row bt-continue-s4">
				<div class="col-xs-12 text-center">
					<button class="btn btn-enviar" ng-click="continue()">Continuar</button>
				</div>
			</div>
		</form>
	</div>
</div>