<div class="row plusPadLeft">
	<h1 class="text-center main-title">Ayúdanos a contactarte de la mejor manera.</h1>
	<div class="col-xs-12">
		<form>
			<div class="form-group col-md-6">
				<label for="emailId" class="control-label">Email</label>
				<input type="text" id="emailId" class="form-control" placeholder="mariagonzalez@gmail.com">
			</div>

			<div class="form-group col-md-6">
				<label for="CelId" class="control-label">Celular</label>
				<input type="text" id="CelId" class="form-control" placeholder="Ej: 1169167656">
			</div>
			<div class="row">
				<div class="col-xs-12 text-center bt-step-one">
					<button class="btn btn-enviar" ng-click="continue()">Continuar</button>
				</div>
			</div>
		</form>
	</div>
</div>