.centered{
	text-align: center;
}

@media (min-width: 992px){
	.bigMarginTop{
		margin-top: 100px !important;
	}
}

input.btn-simular{
	width: 230px;
  	height: 55px;
	border-radius: 3px !important;
  	background-color: #86c82d !important;
  	font-family: BBVA Web Book !important;
  	font-size: 18px !important;
  	font-weight: bold !important;
  	font-style: normal !important;
  	font-stretch: normal !important;
  	line-height: normal !important;
  	letter-spacing: 1.1px !important;
  	text-align: center !important;
  	color: #ffffff !important;
}

input.btn-simular:hover{
  	background-color: #66b100 !important;
  	background-image: none;
}

.masInfoMargen{
	margin-left: 14px;
}