span.aclaracion{
	font-family: BBVA Web Book;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 0.71;
  	letter-spacing: -0.2px;
  	color: #71777f !important;
}
